*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html{
    background:  #fff;
}
body{
    position: relative;
    background: linear-gradient(to bottom, #992626, #c5a7a7);
}
header{
    padding: 20px;
    width: calc(100% - 5px);
    z-index: 2;
}.content-header{
    max-width: 150px;
    margin: auto;
    display: grid;
}
.logo img{
    height: 200px;
}
.content{
    margin: 0 auto;
    width: 500px;
    height: 300px;
    margin-top: 9%;
    background: #992626;
    color: #fff;
    border: 3px solid #992626;
}
label{
    display: block;
}
.caja_login{
    margin: 30px 0px 0px 70px;
}
.caja_login input[type=text],input[type=password]{
    width: 280px;
    padding: 8px 6px;
    border-radius: 8px;
}
.caja_login input[type=submit]{
    background-color: #ff7d7d;
    border-style: none;
    border-radius: 15px;
    color: #fff;
    padding: 15px 23px;
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
}
body svg{
    transform: translateY(10px);
    position: relative;
}
footer{
    color: #273036;
    background: #273036;
    width: 100%;
}
footer p{
    padding: 40px;
    font-size: 14px;
}